<%- include('partials/header') -%>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/tasks">Mi Sitio</a>
  </li>
</ul>

<header class="d-flex justify-content-center">
  <h1>Foro Educativo</h1>
</header>
<main class="d-flex flex-column align-items-center">
  <div class="container text-center">
    <div class="row" id="container-row">
      <% tasks.forEach(task => { %>
      <article class="col-4 d-flex justify-content-center mb-3">
        <div class="card" style="width: 18rem">
          <img
            src="<%= task.poster %>"
            class="card-img-top"
            alt="<%= task.title %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5>
            <p class="card-text"><%= task.description %></p>
            <p class="card-text">
              Fecha de creación: <%= task.createdAt.toLocaleString() %>
            </p>
          </div>
        </div>
      </article>
      <% }) %>
    </div>
  </div>
</main>

<%- include("partials/footer") -%>
